<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="userInfo" type="Emrys.SuperConfig.Section,Emrys.SuperConfig"></section>
    <section name="sport" type="Emrys.SuperConfig.Section,Emrys.SuperConfig"></section>
    <section name="superStar" type="Emrys.SuperConfig.Section,Emrys.SuperConfig"></section>
    <section name="user" type="Emrys.SuperConfig.Section,Emrys.SuperConfig"></section>
    <section name="UserInfo" type="Emrys.SuperConfig.Section,Emrys.SuperConfig"></section>
  </configSections>

  <!--GettingStarted-->
  <userInfo userName="Emrys" email="i@emrys.me" age="27">
    <blogUrl>http://www.cnblogs.com/emrys5/</blogUrl>
    <favoriteColor>Blue</favoriteColor>
    <dislikeColor>2</dislikeColor>
  </userInfo>

  <!--keyValue-->
  <sport>
    <key>2</key>
    <value>Football</value>
  </sport>
  <superStar>
    <key>7</key>
    <value>Jackchen</value>
  </superStar>

  <!--TestSetSectionName-->
  <user userName="Emrys" email="i@emrys.me" age="27">
    <blogUrl>http://www.cnblogs.com/emrys5/</blogUrl>
    <favoriteColor>Blue</favoriteColor>
    <dislikeColor>2</dislikeColor>
  </user>


  <!--TestSetConvertCase-->
  <UserInfo UserName="Emrys" Email="i@emrys.me" Age="27">
    <BlogUrl>http://www.cnblogs.com/emrys5/</BlogUrl>
    <FavoriteColor>Blue</FavoriteColor>
    <DislikeColor>2</DislikeColor>
  </UserInfo>
  

</configuration>